.navbar {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 30px 0;
}
.navbar__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  font-size: 16px;
  font-weight: 400;
}
.navbar__btn {
  font-size: 16px;
  font-weight: 400;
  background-color: #1b1a1a;
  padding: 11px 20px;
  border-radius: 14px;
  border: none;
  color: #fff;
}
